IF...ELSE AND FOR LOOPS

In [1]:
x = 10
y = 20
z = 10

In [2]:
if(x!=y):
    print("Not equal")

Not equal

In [3]:
if(x == z):
    print("Equal")

Equal

In [7]:
if not x>y:
    print('x is greater then y')

print('xyz')

x is greater then y
xyz

In [8]:
if y > x:
 print('y is greater then x')

y is greater then x

In [9]:
if x <= y and x<=z :
 print('2 conditions')

2 conditions

In [10]:
if y >= x and x<=z :
 print('2 conditions')

2 conditions

In [11]:
if y <= x or x==z :
 print('2 conditions with or')

2 conditions with or

In [14]:
if not x == y :
       print('not part')

print('not part')

not part
not part

In [15]:
if x == z : print("equal")

equal

In [16]:
if x == z :
 print('equal')
elif x!=y :
 print('not equal')

equal

In [17]:
if x != z :
 print('equal')
elif x!=y :
 print('not equal')

not equal

In [18]:
if x != z :
 print('equal')
elif x==y :
 print('not equal')
else :
 print('else part')

else part

In [19]:
if x != z :
 print('equal')
else :
 print('else part')

else part

In [20]:
if x != y :
 print('not equal')
 if x < y :
  print('else part')

not equal
else part

x = 10
y = 20
z = 10

In [26]:
print("if part") if y > x else print("else part")

if part

In [25]:
print("if part") if x > y else print("else part")

else part

FOR LOOPS

In [27]:
set1 = [1,2,3,4,5,6,75,8,19,10] #it's a list

In [29]:
for i in set1:
    print(i)

1
2
3
4
5
6
75
8
19
10

In [30]:
for i in set1:
    print(i)
    if i == 4:
        break

1
2
3
4

In [63]:
for i in set1 : #/
    if i == 4 :
        break
    print(i)

1
2
3

In [64]:
for i in set1 :
    print(i)
    if i == 4 :
        continue

1
2
3
4
5
6
75
8
19
10

In [65]:
for i in set1 : #/
    if i == 4 :
        continue
    print(i)

1
2
3
5
6
75
8
19
10

In [66]:
for i in 'pratik': 
    print(i)

p
r
a
t
i
k

In [67]:
for i in range(5,10): 
    print(i)

5
6
7
8
9

In [58]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [73]:
for i in range(1,10,2): 
 if i == 1 :
  print('pratik')
 elif i == 3 :
  print('Kohad')
 elif i == 5 :
  print('5March')
 elif i == 7 :
  print('B.TECH')
 elif i == 9 :
  print('engineering')

pratik
Kohad
5March
B.TECH
engineering

In [71]:
for i in range(1,10,2): 
 if i == 1 :
  print('pratik')
 elif i == 3 :
  print('Kohad')
 elif i == 5 :
  print('5March')
 elif i == 7 :
  print('B.TECH')
 elif i == 9 :
  print('engineering')
else :
    print('last else part')

pratik
Kohad
5March
B.TECH
engineering
last else part

In [50]:
for i in range(1,10,2): 
 if i == 1 :
  print('Pratik')
 elif i == 3 :
  break
 elif i == 5 :
  print('5')
 elif i == 7 :
  print('BTECH')
 elif i == 9 :
  print('engineering')
else :
    print('last else part')

Pratik

In [61]:
for i in range(0,11,2): 
 if i == 10 :
  print('Pratik')
 elif i == 30 :
  print('Kohad')
 elif i == 50 :
  print('5')
 elif i == 70 :
  print('minutes')
 elif i == 90 :
  print('engineering')
else :
  print('last else part')

Pratik
last else part

In [62]:
for i in range(1,10,2): 
 if i == 10 :
  print('Pratik')
 elif i == 30 :
  print('Kohad')
 elif i == 50 :
  print('5')
 elif i == 70 :
  print('minutes')
 elif i == 90 :
  print('engineering')
else :
  print('last else part')

last else part

In [74]:
for i in range(10): 
 print(i)
 if 5 != 6 :
  print('equal')
  if 5 < 6 :
   break

0
equal

In [75]:
for i in 'pratik': 
 print(i)
 for j in 'kohad':
    print(j)

p
k
o
h
a
d
r
k
o
h
a
d
a
k
o
h
a
d
t
k
o
h
a
d
i
k
o
h
a
d
k
k
o
h
a
d

In [76]:
for i in range(1,5): 
 print(i)
 for j in 'Kohad':
    print(j)

1
K
o
h
a
d
2
K
o
h
a
d
3
K
o
h
a
d
4
K
o
h
a
d

WHILE LOOP

In [77]:
X = 1
while X < 10:
    print(X)
    X += 1

1
2
3
4
5
6
7
8
9

In [78]:
X = 1
while X < 10:
    print(X)
    X += 2

1
3
5
7
9

In [79]:
X = 1
while X < 10:
    print(X)
    X += 3

1
4
7

In [82]:
x = 1 
while x < 10:
    print(x)
    if x == 5:
        break 
    x += 1

1
2
3
4
5

In [1]:
x = 1
while x < 10:
  x += 1
  if x == 5:
    continue
  print(x)

2
3
4
6
7
8
9
10

In [2]:
x = 1
while x < 10:
  x += 1
  print(x)
  if x == 5:
    continue

2
3
4
5
6
7
8
9
10

In [3]:
x = 1
while x in range(10):
  print(x)
  x += 1

1
2
3
4
5
6
7
8
9

In [4]:
x = 1
while x < 5 :
    y = 1
    while  y < 5 :
        print('x->',x,'y->',y,'x + y ->',x+y)
        y += 1
    print("\n")
    x += 1

x-> 1 y-> 1 x + y -> 2
x-> 1 y-> 2 x + y -> 3
x-> 1 y-> 3 x + y -> 4
x-> 1 y-> 4 x + y -> 5


x-> 2 y-> 1 x + y -> 3
x-> 2 y-> 2 x + y -> 4
x-> 2 y-> 3 x + y -> 5
x-> 2 y-> 4 x + y -> 6


x-> 3 y-> 1 x + y -> 4
x-> 3 y-> 2 x + y -> 5
x-> 3 y-> 3 x + y -> 6
x-> 3 y-> 4 x + y -> 7


x-> 4 y-> 1 x + y -> 5
x-> 4 y-> 2 x + y -> 6
x-> 4 y-> 3 x + y -> 7
x-> 4 y-> 4 x + y -> 8